.logo-img{
    width: 120px;
}
.nav-bar{
    display: flex;
    border: 2px solid ;
    /* margin: 15px; */
    justify-content:space-between
}

.navItems>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.navItems>ul>li{
    margin: 3px;
    padding: 5px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.res-card{
    /* margin: 0;
    padding: 0; */
    display: flexbox;
    border: 1px solid;
    width: 200px;
    /* height: 300px; */
    margin: 5px;
    padding: 3px;
    background-color: rgb(195, 238, 238);
}
.card-img{
    width: 100%;
    height: 150px;
}
.res-card>h4{
    padding: 3px;
    margin:3px;
}
.res-card>h3{
    padding: 3px;
    margin: 3px;;
}
.search{
    margin: 15px;
}
.res-card:hover{
    cursor: pointer;
    border: none;
}

.filter{
    margin: 15px;
    /* font-size: xx-large; */
}
.filter-btn{
    cursor: pointer;
    font-size: x-large;
    background-color: rgb(255, 153, 0);
    border-radius: 20%;
    /* border-radius: 20px; */
    border-style:ridge ;
}

.filter-btn:hover{
    box-shadow: 10px 10px 20px blue;
}